.ipynb_checkpoints/case_study_topFactory-checkpoint.pdf
.ipynb_checkpoints/fodo_anke-checkpoint.ipynb
.ipynb_checkpoints/general_calculations-checkpoint.ipynb
.ipynb_checkpoints/.gitignore-checkpoint
